# Introducción a la programación en Python

Python es un lenguaje de programación. En los _notebooks_ previos, casi todo el trabajo que hemos realizado es prácticamente interactivo, aunque en un par de ocasiones nos hemos visto obligados a utilizar funciones o bucles.

En este _notebook_ aprenderemos los rudimentos de la programación en Python, comenzando con tipos de datos y terminando con la definición de funciones simples.

In [15]:
import pandas as pd

## Tipos de datos

### _Strings_

Vamos a ver una serie de funciones útiles para operar con _strings_, i.e., texto, en Python. Las operaciones básicas con cadenas son las de concatenar, partir en _tokens_, buscar y reemplazar.

Las operaciones con cadenas de texto en Python son similares a las de otros lenguajes de programación.

`len()` nos devuelve la longitud (número de caracteres) de la cadena de texto:

In [1]:
len('Python')

6

Las cadenas de texto también se pueden _seccionar_ usando los corchetes:

In [2]:
a = 'Python'
b = a[2:4]
b

'th'

Para separar una cadena por uno o varios caracteres, creando una lista con el resultado, usamos `split()`

In [2]:
profesiones = 'analista,consultor informático,jefe de proyecto'.split(',')
profesiones

['analista', 'consultor informático', 'jefe de proyecto']

La operación complementaria a `split()` es `join()`, que une los elementos de una lista en una cadena de texto

In [3]:
','.join(profesiones)

'analista,consultor informático,jefe de proyecto'

Aunque también se puede concatenar usando `+` entre dos cadenas de texto:

In [ ]:
my_file = 'procesar.py'
print('Error en el programa ' + my_file)

**Nota:** si usas `+` entre una cadena de texto y un tipo diferente de dato, fallará. Por ejemplo, `3 + ' €'` es incorrecto. En su lugar, convierte el tipo de dato antes, haciendo: `str(3) + ' €'`.

`strip()` elimina espacios en blanco delante y detrás

In [7]:
'    hola '.strip()

'hola'

`lower` y `upper` pasan todo a minúsculas o mayúsculas

In [6]:
'pyThon'.lower()

'python'

Si tenemos una cadena de texto que puede ser transformada a entero, podemos usar `float()` para decimales e `int()` para enteros

In [8]:
n = float('3.1416')
print(n, type(n))

3.1416 <class 'float'>

In [9]:
n = int('531')
print(n, type(n))

531 <class 'int'>

`replace()` sustituye trozos de cadenas por otros

In [10]:
'Hola NOMBRE'.replace('NOMBRE', 'paquito')

'Hola paquito'

#### Ejercicio

Sobre el siguiente DataFrame, crea dos columnas separadas, una para el importe (que sea float) y otra para la divisa (que sea cadena de texto)

In [24]:

importes = pd.DataFrame({'importe_divisa': ['592,50 EUR', '690,10 USD', '2951 GBP']})
importes.head()

  importe_divisa
0     592,50 EUR
1     690,10 USD
2       2951 GBP

In [64]:
importes = pd.DataFrame({'importe_divisa': ['592,50 EUR', '690,10 USD', '2951 GBP']})
importe_y_divisa = importes.importe_divisa.apply(lambda x : x.split(' '))
importe = importe_y_divisa.apply(lambda x : float(x[0].replace(',','.')))
divisa = importe_y_divisa.apply(lambda x : x[1].strip())
importes['importe'] = importe
importes['divisa'] = divisa
importes.drop(columns = 'importe_divisa')
importes

# otra solucion
importes['importe'] = importes.apply(lambda x: x.importe_divisa.split(' ')[0].replace(',','.'), axis=1)
importes['divisa'] = importes.apply(lambda x: x.importe_divisa.split(' ')[1], axis=1)
importes

'592,50 EUR'

### Expresiones regulares

Tanto en Python como en casi todos los lenguajes de programación, trabajar _en serio_ con cadenas de texto implica usar [_expresiones regulares_](https://es.wikipedia.org/wiki/Expresi%C3%B3n_regular). Las expresiones regulares permiten buscar patrones en texto, reemplazar y realizar muchas operaciones avanzadas sobre cadenas de caracteres.

Consulta [esta guía](https://www.dataquest.io/blog/regex-cheatsheet/) acerca del uso de las expresiones regulares en Python.

#### Ejercicio

Con expresiones regulares, realiza los siguientes ejercicios:

Sobre la cadena `'30 del 04 para el 2018'`, extrae:

* Todos los números de forma independiente. Es decir, resultará una lista con 3, 0, 0, 4, ...
* Todos los números de forma consecutiva. Es decir, resultará una lista con 30, 04, 2018.
* Extrae las palabras de `'30 del 04 para el 2018'`. Saldrá del, para, ...
* Extrae el último número consecutivo. Saldrá 2018.
* Transfórmala para convertirla a formato ISO (es decir, yyyy-mm-dd)

In [90]:
import re
# Todos los números de forma independiente.
#cadena = '30 del 04 para el 2018'
#regex = r'[0-9]'
#re.findall(regex, cadena)
# Todos los números de forma consecutiva. 
#cadena = '30 del 04 para el 2018'
#regex = r'[0-9]+'
#re.findall(regex, cadena)
# Extrae las palabras de la cadena
#cadena = '30 del 04 para el 2018'
#regex = r'[a-zA-Z]+'
#re.findall(regex, cadena)
# Extrae el último número consecutivo. Saldrá 2018.
#cadena = '30 del 04 para el 2018'
#re.findall(r'[0-9]+$', cadena)
cadena = '30 del 04 para el 2018 y ya'
re.sub('^.*[^0-9]([0-9]+)[^0-9]*$', r'\1', cadena)  # hacer pruebas con * o +

'2018'

In [ ]:
# Transfórmala para convertirla a formato ISO (es decir, yyyy-mm-dd)
re.sub('([0-9]+) del ([0-9]+) para el ([0-9]+)', r'\3-\2-\1', cadena)

In [94]:
# Transfórmala para convertirla a formato ISO (es decir, yyyy-mm-dd)
re.sub('([0-9]+)[^0-9]+([0-9]+)[^0-9]+([0-9]+)', r'\3-\2-\1', '30 xx 04 sfds2018')

'2018-04-30'

In [ ]:
# re.sub se utiliza mucho para extraer una parte concreta de la regex
# fíjate en el \1: es el grupo, coincide con lo que ponemos entre ( ) en la regex
re.sub(r'^[^A-Z]+([A-Z]+)$', r'\1', '509EUR')

### Listas

Las listas son contenedores de valores. Pueden ser de diferentes tipos de dato, aunque generalmente se usan para 
datos homogéneos (p.e., una lista de números).

Las operaciones que se realizan más habitualmente con listas son:

* Extrer elementos (p.e., los 10 primeros o los 5 últimos).
* Añadir y borrar elementos.
* Concatenar listas (con `+`)
* Ordenar listas
* Operaciones _funcionales_ clásicas:
    * Map: aplicar una función a cada elemento
    * Reduce: obtener un agregado (longitud, suma, media, etc.)
    * Filter: obtener una sublista a partir de otra dada de acuerdo con algún criterio

Ejemplo de creación de una lista

In [95]:
precios = [2300, 1942, 3455, 4100, 600, 1230]
precios

[2300, 1942, 3455, 4100, 600, 1230]

Para conocer la longitud de la lista, utilizamos `len`

In [96]:
len(precios)

6

Para extrar un elemento en una determinada posición, ponemos entre corchetes el índice

In [97]:
precios[2]

3455

Si usamos índices negativos, extraemos elementos contando desde la derecha (-1 es el último elemento)

In [98]:
precios[-4:-2]

[3455, 4100]

Para extraer un rango:

In [99]:
precios[:3]

[2300, 1942, 3455]

Algunas funciones estadísticas como `min`, `max` y `sum` vienen cargadas por defecto. Con el paquete `statistics`, además, podemos calcular medianas, medias, etc. sobre una lista.

In [100]:
min(precios)

600

In [101]:
from statistics import mean, median

mean(precios)

2271.1666666666665

Para evaluar si un elemento está contenido en una lista, usaremos `in` o `not in`

In [102]:
600 in precios

True

**Nota:** Existe un módulo de Python, `numpy` que implementa sus propias listas (o `arrays`), más orientadas al cálculo numérico y matricial que son extensiones de estas listas genéricas. A su vez, las columnas de un `DataFrame` de `pandas` son extensiones de los `arrays` de `numpy`.

#### List comprehensions

Son una forma concisa de iterar y operar sobre listas que combinan las operaciones _map_ y _filter_.

In [ ]:
['{} €'.format(precio) for precio in precios]

In [108]:
precios

[2300, 1942, 3455, 4100, 600, 1230]

In [109]:
[x * 2 for x in precios]

[4600, 3884, 6910, 8200, 1200, 2460]

También permiten filtrar elementos añadiendo un bloque con `if`

In [111]:
['{} €'.format(precio) for precio in precios if precio > 2000]

['2300 €', '3455 €', '4100 €']

In [110]:
'{} €'.format(20)

'20 €'

Por lo indicado más arriba, las _list comprehensions_ funcionan también sobre columnas de `DataFrames`:

In [48]:
alquiler = pd.read_csv('dat/alquiler-madrid-distritos.csv', index_col=False)

alquiler["precio_90_m"] = [90 * precio for precio in alquiler.precio]
# Nota: lo mismo puede obtenerse haciendo, como antes,
# alquiler["precio_90_m"] = 90 * alquiler.precio

alquiler["trimestre"] = [str(ano) + "Q0" + str(quarter) 
                         for ano, quarter in alquiler[['ano', 'quarter']].values]

alquiler.head()

      distrito   ano  quarter     precio  precio_90_m trimestre
0   Arganzuela  2007        2  13.066587  1175.992857   2007Q02
1      Barajas  2007        2  11.199855  1007.986923   2007Q02
2  Carabanchel  2007        2  11.127661  1001.489519   2007Q02
3       Centro  2007        2  17.746404  1597.176343   2007Q02
4    Chamartín  2007        2  14.386480  1294.783156   2007Q02

#### Ejercicio

Crea una lista que contenga las palabras de `frase` que tengan una longitud de más de 5 caracteres.

In [ ]:
frase = 'Estoy en el curso de python para ciencia de datos'

In [122]:
frase = 'Estoy en el curso de python para ciencia de datos'
frase_lista = frase.split(' ')
[i for i  in frase_lista if len(i) > 5]

['python', 'ciencia']

In [124]:
frase = 'Estoy en el curso de python para ciencia de datos'
frase_lista = frase.split(' ')
[i for i  in frase_lista if len(i) > 5]

'sty n l crs d pythn pr cnc d dts'

#### Ejercicio

Elimina las vocales de la frase anterior

In [ ]:
vocales = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
''.join([x for x in frase if x not in vocales])

re.sub('[aeiouAEIOU]',"", frase)

#### Ejercicio

Calcula la lista de los cuadrados de:

In [ ]:
lista = [2, 3, 5, 7]

In [130]:
lista = [2, 3, 5, 7]
[i**2 for i  in lista ]

[4, 9, 25, 49]

#### Ejercicio

Haz una petición a la API de [swapi](https://swapi.co/documentation) con una búsqueda de todos los personajes que tengan el apellido `skywalker`. Examina la respuesta e imprime los nombres resultantes utilizando una `list comprehension` (no utilices bucles).

### Diccionarios

Los diccionarios son una colección de elementos clave-valor:

In [7]:
poblacion = {'Moratalaz': 95000,
             'Centro': 150000,
             'Barajas': 46000}
poblacion

{'Moratalaz': 95000, 'Centro': 150000, 'Barajas': 46000}

Para acceder a un elemento, podemos usar:

* Los corchetes
* La función `get`

La diferencia es que get devuelve None en lugar de lanzar un error en caso de que la clave no exista

In [8]:
poblacion['Barajas']

46000

In [9]:
poblacion.get('Tetuan')
poblacion.get('Barajas')

46000

#### Dict comprehensions

Es el equivalente de las list comprehensions en diccionarios

In [136]:
# Atención al .items() para poder iterar sobre clave y valor en el dict

{distrito: (valor / 1000) for distrito, valor in poblacion.items()}

{'Moratalaz': 95.0, 'Centro': 150.0, 'Barajas': 46.0}

#### Ejercicio

A partir del diccionario `precios_por_distrito`, crea un diccionario donde la clave sea el distrito y el valor, otro diccionario con dos elementos: el precio mínimo (la clave será `minimo`) y el máximo (con clave `maximo`).

In [137]:
import pandas as pd

venta = pd.read_csv('dat/venta-madrid-distritos.csv', index_col=False)
venta = venta[venta.precio.notnull()]
precios_por_distrito = venta.groupby('distrito').precio.apply(lambda precios: precios.tolist()).to_dict()
precios_por_distrito

{'Arganzuela': [1920.4065754345897,
  1989.7552775824,
  1974.7153937224803,
  2027.37661409059,
  2150.8146736201,
  2744.41775414676,
  2845.0883714856,
  2999.03759169401,
  3144.48061245487,
  3236.02158898773,
  3277.25969079458,
  3285.09194017021,
  3401.4981298601,
  3498.52350888937,
  3504.34008028398,
  3595.2146143042205,
  3674.0417534634103,
  3781.2204248628295,
  3828.3116084867797,
  3903.5045363686895,
  3980.43306658443,
  3970.75478820969,
  3926.9932295131,
  3913.50703785109,
  3893.9226911167893,
  3854.6518960002504,
  3721.22338481386,
  3624.4716710660205,
  3550.70145120216,
  3435.97904417864,
  3408.07137744815,
  3392.7752748987396,
  3356.7530396407897,
  3345.2258965233195,
  3317.3217052996997,
  3349.7985684777695,
  3275.76223217752,
  3250.09835778019,
  3161.00828426335,
  3122.5078904362103,
  3063.20281545964,
  3022.84870087037,
  2897.7150302156897,
  2790.22515936953,
  2689.8063966148898,
  2679.6592782237,
  2583.8142070664603,
  2684.64003838108,
  2796.6930739227196,
  2827.83718920866,
  2684.78,
  2637.86809766645,
  2653.25216352432,
  2671.1393805864604,
  2714.3168700023302,
  2787.14848128612,
  2746.0,
  2834.8971702394606,
  2917.8222024725105,
  2925.24228087068,
  3012.69893260127,
  3136.7992607653496,
  3204.20949521523,
  3293.41127664832,
  3528.85859175875,
  3709.23686896558,
  3949.94308346634],
 'Barajas': [1661.89030566455,
  1679.77967424681,
  1842.42511483804,
  1964.7224475112303,
  2082.54968615302,
  2151.74981043471,
  2542.6369989448003,
  2593.13438693414,
  2605.68560660083,
  2743.16206225875,
  2935.20473453152,
  2952.5217318147998,
  2927.96193124766,
  2975.7275837936,
  3100.54553990507,
  3219.31879715187,
  3292.1630842152804,
  3452.9227661031396,
  3365.81172118871,
  3432.88409770853,
  3445.13463463144,
  3514.79039226453,
  3554.1957419572705,
  3707.29260972118,
  3687.65196269998,
  3730.1779520808,
  3651.2334445673705,
  3638.0621160084797,
  3636.7329393671503,
  3601.94493780579,
  3518.47895859041,
  3397.81798158807,
  3276.40468265148,
  3254.1296040024,
  3304.86071968473,
  3273.08109915938,
  3290.67881898961,
  3186.76656822153,
  3240.53539877656,
  3212.3856695228696,
  3178.8694145487602,
  3140.0493600461896,
  3035.00029600706,
  3024.1286266167103,
  3022.84473879107,
  2928.2119900124894,
  2869.4863456556604,
  2776.71941644847,
  2774.89410545457,
  2625.19154572549,
  2727.45,
  2763.58245926933,
  2828.2995405794604,
  2715.88,
  2610.73403484343,
  2583.09541934491,
  2605.0512489457897,
  2637.96785464492,
  2602.92598326696,
  2602.0,
  2585.36235499466,
  2571.42503605227,
  2604.41839444959,
  2671.56569526965,
  2642.24813940374,
  2700.2463151523602,
  2866.74843360044,
  2993.2004426347803,
  3064.67649408755,
  3225.4079291213397],
 'Carabanchel': [1358.55787972897,
  1413.0353065803,
  1481.4735224854699,
  1572.9001221865199,
  1651.4516146143899,
  1799.20323132394,
  1837.5438407232602,
  2069.45777074838,
  2162.55303348792,
  2240.61195004594,
  2354.41430797257,
  2496.35428406392,
  2570.3109626712,
  2620.57158136727,
  2624.0188656907503,
  2643.2780365556896,
  2736.22603127299,
  2726.2863520692104,
  2777.5382543013297,
  2855.1242356076395,
  2923.71094533867,
  3114.38707731969,
  3161.1754359804,
  3210.17544305693,
  3227.6873594259996,
  3182.86026239888,
  3147.6715686408097,
  3102.96487115693,
  3066.6972555574202,
  2966.37443580948,
  2843.7510638275703,
  2790.6024330836603,
  2679.94668054977,
  2622.18710453221,
  2623.72857236046,
  2590.34499691881,
  2557.29544025899,
  2481.0564074449,
  2439.73988779497,
  2384.74787278582,
  2330.3036108554998,
  2247.52651407715,
  2221.29156549937,
  2127.30375220938,
  2067.6341830194,
  1980.7584948063602,
  1874.8454210813397,
  1820.6082706241602,
  1798.6897260973603,
  1739.91605596982,
  1796.5363318174,
  1857.1257460841398,
  1798.2485924772197,
  1698.32,
  1639.6085196418699,
  1601.7363328657502,
  1650.62720103474,
  1636.80991137635,
  1672.2497382099,
  1622.0,
  1630.7672219399699,
  1622.8778968952302,
  1653.87679712207,
  1701.5217591195901,
  1714.0504692558802,
  1759.0613559434198,
  1823.6298619471802,
  1873.86870323417,
  1956.82274588754,
  2058.72933466929],
 'Centro': [1857.41441612893,
  1988.01298909339,
  2061.02611735355,
  2155.49035769318,
  2292.02033262733,
  2454.7341383707603,
  2522.99912583783,
  2789.5131180038,
  2953.87851307545,
  2965.10456156451,
  3129.06471688659,
  3196.73622561241,
  3347.3909601061305,
  3436.65478305003,
  3464.0300634949,
  3619.34705227198,
  3694.03336325742,
  3784.7681821326796,
  3841.2844585166295,
  4011.0878334422796,
  4145.20811180892,
  4279.60531433023,
  4261.86413383991,
  4304.54534126215,
  4398.2093112354905,
  4454.442806989339,
  4404.69570862161,
  4421.5986463134495,
  4387.245030149,
  4303.11319334614,
  4137.0925629515605,
  4092.4913051538,
  3988.15267497372,
  3896.4963761238396,
  3897.31395497608,
  3891.23101583299,
  3825.1249781615397,
  3739.71522789375,
  3758.50586656438,
  3786.03233286291,
  3727.7675426243604,
  3596.2275777468703,
  3602.68459310479,
  3574.7544279024605,
  3483.9742408485604,
  3389.69344911575,
  3311.57124120572,
  3202.2644596752502,
  3154.7649207580394,
  3080.8519180932203,
  3434.0,
  3354.21058504344,
  3412.02899619266,
  3337.41,
  3276.1628425180297,
  3284.7334099801396,
  3346.4906834590697,
  3423.80341754937,
  3537.8936203223498,
  3568.0,
  3598.6259098063106,
  3638.0603997503003,
  3717.71081518519,
  3778.70710580411,
  3971.5896840520204,
  4306.87190720289,
  4455.690224084579,
  4598.738176262779,
  4832.36351528884,
  4987.19887607627],
 'Chamartín': [2523.68801546582,
  2660.9185252593898,
  2857.18451340295,
  3006.4648589950502,
  2836.2699587346697,
  3095.3028563837,
  3160.76243340692,
  3529.2063383661894,
  3578.90209947664,
  3676.6652439100103,
  3849.7521726792997,
  4041.1035784711894,
  4078.5256801356,
  4180.42113769222,
  4139.76908510643,
  4232.1583509416,
  4240.559737545271,
  4366.417587075421,
  4423.76105837497,
  4526.15453962394,
  4609.31734829234,
  4701.266500067871,
  4668.8381878214095,
  4797.76242877971,
  4860.6484800152,
  4884.635551688079,
  4913.35406581909,
  4930.97360022026,
  4969.76989188925,
  4938.96392101526,
  5028.7606510284495,
  4979.09756465518,
  4822.1690976475,
  4759.9532123125,
  4789.55644701872,
  4784.2698639338005,
  4744.26910783614,
  4788.14319295678,
  4693.84136438475,
  4557.42583765204,
  4498.34594509462,
  4492.9029585995895,
  4422.94108216361,
  4314.38783200913,
  4216.44014712405,
  4127.94942994974,
  4028.3104620413105,
  3964.61106878033,
  3873.11489997551,
  3820.38744147142,
  3758.33,
  3747.132329207,
  3735.30644301586,
  3674.12,
  3652.22278721661,
  3716.5548292816497,
  3729.90881457606,
  3740.2506802668104,
  3765.6942883138,
  3790.0,
  3891.7159851290203,
  3915.03733535346,
  3988.91435158979,
  4071.56429508909,
  4207.18927367794,
  4337.76169332912,
  4384.1080736965505,
  4563.82270069739,
  4904.8700479525205,
  5007.47085890988],
 'Chamberí': [2264.7895662852898,
  2454.96316500279,
  2446.56083825743,
  2695.06429972744,
  2780.16174985763,
  2901.72953575789,
  3180.40030651389,
  3353.4006172181103,
  3407.65816774042,
  3613.8468862215004,
  3729.43453493927,
  3962.5412859014295,
  4016.03566488294,
  4066.36750420808,
  4217.42342696597,
  4229.786880188761,
  4262.20938342197,
  4274.72060096751,
  4436.23062513429,
  4516.50229070351,
  4658.370827035129,
  4738.99983325856,
  4752.41062927584,
  4828.9851578033,
  4927.48046093665,
  4941.7760304902,
  4909.468276741521,
  4982.16620579669,
  4984.95602858434,
  4885.72905718869,
  4790.28587379076,
  4693.41987931998,
  4668.059869746679,
  4681.154006433139,
  4737.18962804692,
  4686.15867943862,
  4712.911457022929,
  4686.060330807751,
  4604.41612083011,
  4479.08790818375,
  4445.23562270875,
  4355.6371081515,
  4308.62421665848,
  4227.48045626795,
  4189.46237637276,
  4055.0665293883294,
  3930.05012152497,
  3772.18020291221,
  3659.95506138562,
  3624.8854639145598,
  3681.93,
  3566.7964829715297,
  3683.2926014862105,
  3643.68,
  3628.64928845141,
  3629.8953939187604,
  3689.1001695901796,
  3764.5155934842796,
  3781.49056176299,
  3760.0,
  3945.5603497546203,
  3960.2687353783795,
  4017.32772527256,
  4059.8613653668103,
  4290.6840515404,
  4507.98706042285,
  4641.838482639179,
  4810.75582127961,
  4999.60087998104,
  5202.006707450821],
 'Ciudad Lineal': [2006.8859076291199,
  2073.37388448369,
  2254.54378591285,
  2277.05814359345,
  2372.4420986844298,
  2495.88015821393,
  2674.49128980586,
  2818.5023592569396,
  2965.46499528969,
  3078.64869444592,
  3078.98469296824,
  3311.6321285589,
  3230.88965997329,
  3300.1787505117104,
  3352.3757055137103,
  3348.7066433412897,
  3424.2531354554,
  3498.66181349848,
  3580.56210812014,
  3705.27340405386,
  3695.4919563471294,
  3789.2049909030497,
  3804.74936504094,
  3818.3598512111207,
  3788.40799620544,
  3762.04580258424,
  3768.78631604901,
  3725.47388010219,
  3763.94277102385,
  3701.77036840508,
  3679.3448141011,
  3566.9712862772203,
  3540.2400672714502,
  3480.20760018322,
  3512.03908558307,
  3435.76907551992,
  3363.0684840369204,
  3335.67559666612,
  3310.52590708807,
  3249.2456541728397,
  3209.53998642565,
  3144.0263198671696,
  3166.0629841577197,
  3078.33231078268,
  3009.07421131261,
  2927.54136113241,
  2819.5554316261605,
  2728.89003950912,
  2660.39058363226,
  2593.25118119729,
  2525.04300717972,
  2630.66812194851,
  2666.07766861683,
  2581.82,
  2514.03898020754,
  2463.83690421761,
  2512.5364101501395,
  2477.74023846458,
  2485.647962087,
  2455.0,
  2488.7196698948896,
  2480.23122069697,
  2486.8426353067803,
  2523.02165431698,
  2557.5140999622304,
  2616.0127205988897,
  2691.5804830292,
  2724.15850970328,
  2823.56376515574,
  2982.5793223775604],
 'Fuencarral': [2060.0987702545603,
  2056.77156126911,
  2047.43064685387,
  2174.19309398553,
  2432.29085481994,
  2562.27487205177,
  2675.42642662047,
  2807.2807174815302,
  2951.1940816006104,
  2958.9381159270697,
  3063.63250560336,
  3283.02116762711,
  3295.62245756648,
  3357.62014315411,
  3396.51864233852,
  3428.38750656224,
  3470.38050626625,
  3502.8177450038,
  3471.73987114373,
  3593.3512548937797,
  3743.38340303951,
  3830.2978158668498,
  3830.86148099677,
  3868.2217357462,
  3920.54885583231,
  3916.61203151576,
  3891.63138656096,
  3832.69380736836,
  3839.2674630599604,
  3720.0993402430395,
  3665.70255000502,
  3611.98462834391,
  3589.9069475148203,
  3557.4724180388703,
  3515.41283307672,
  3496.31898049823,
  3453.25469775766,
  3425.64616324984,
  3437.84544359961,
  3456.08629971943,
  3401.29636632596,
  3316.8899847117304,
  3264.96359452435,
  3211.1412752788697,
  3120.94075836453,
  3015.58650348146,
  2947.66516328748,
  2835.0428193121,
  2788.4097178352004,
  2717.4506352220496,
  2885.04,
  2805.0496551300203,
  2820.8222166879304,
  2678.06,
  2656.38787950503,
  2655.5590394596397,
  2679.56560819949,
  2719.0045862612196,
  2713.5458377315304,
  2734.0,
  2757.9040607901397,
  2739.96221107437,
  2767.54949000409,
  2824.19385662152,
  2934.22243108893,
  2995.87006097739,
  3067.03119353502,
  3174.2081114126695,
  3183.6788903536103,
  3317.63074460989],
 'Hortaleza': [2098.2717490201003,
  2148.7756340594196,
  2104.16742845547,
  2192.89583027788,
  2179.8039148732396,
  2445.38277022459,
  2422.00434985915,
  2757.71846630681,
  2746.38482131316,
  2863.25841790729,
  2935.99170513766,
  3045.91052329716,
  3118.80903444284,
  3210.29902985789,
  3224.91625741912,
  3342.99043442529,
  3351.63939632135,
  3395.41759865224,
  3476.16032302132,
  3567.41042643743,
  3658.93457740791,
  3673.13257138149,
  3760.56840275307,
  3819.6024067145704,
  3840.21041278572,
  3870.8293216772795,
  3878.40397615029,
  3910.24265897981,
  3950.0356215050606,
  3853.02680389253,
  3867.52023656799,
  3888.8612538404795,
  3835.78794425247,
  3822.82653908383,
  3782.14749883956,
  3787.1641483936205,
  3729.0211613139204,
  3711.6958724216997,
  3705.21850938493,
  3573.2706379753704,
  3478.1906437673497,
  3385.32478431337,
  3378.3002858451696,
  3345.6091498759497,
  3222.4900133392894,
  3115.9085685325704,
  3033.75377831013,
  2950.6542843015004,
  2957.4618993527397,
  2965.06788033252,
  3021.01,
  3016.6187536593798,
  2956.01469753034,
  2781.5890175948102,
  2778.9337813194898,
  2765.1641017599604,
  2739.62837757476,
  2791.3672789497496,
  2822.92823726893,
  2818.0,
  2848.37848945551,
  2851.9481901751697,
  2799.3047303123603,
  2856.4281536014196,
  2861.33796060353,
  3066.3869144049,
  3051.4182837677504,
  3202.83431444726,
  3415.8776818066103,
  3403.1768699292998],
 'Latina': [1473.8692762737803,
  1527.70599058401,
  1572.5614887476902,
  1644.9056569120598,
  1757.12207466616,
  1862.79253471793,
  2028.3117509052104,
  2168.5822730978302,
  2261.69576911655,
  2365.69089597997,
  2445.29112795087,
  2500.44682677441,
  2430.1644390415804,
  2532.25048407058,
  2653.86756185332,
  2776.95290941473,
  2825.21376551563,
  2876.3634058083303,
  2967.62335093922,
  2990.1740228714198,
  3096.0820512641303,
  3166.68274550041,
  3226.68131709272,
  3223.4001254444297,
  3239.46764244599,
  3213.7628512804604,
  3161.58214482669,
  3105.61984468712,
  3071.48494386552,
  2971.3761743707105,
  2857.18488628594,
  2777.1359443911497,
  2658.55360097663,
  2615.22425824337,
  2577.05092392611,
  2517.06853126881,
  2487.8134896169,
  2457.90492648769,
  2453.1217200052397,
  2404.05410499671,
  2316.6828187836104,
  2251.07188302749,
  2222.65069242168,
  2133.6407506158703,
  2050.04994155356,
  2003.6697339600303,
  1909.3421089952399,
  1821.2386001806601,
  1802.7648346374601,
  1763.56189421795,
  1925.82,
  1878.8183183101999,
  1857.09715871207,
  1722.74,
  1677.2872121636701,
  1590.4413147341,
  1628.0473095162,
  1642.10950051228,
  1693.51141285207,
  1653.0,
  1698.13100761677,
  1745.49096145161,
  1761.4695540107398,
  1783.6980144513898,
  1806.08559555511,
  1845.0272864164701,
  1878.6703386112301,
  1976.83733812435,
  2095.9787438418102,
  2146.21708272393],
 'Moncloa': [2019.07068648125,
  2127.12067422673,
  2295.4931856898897,
  2250.8743127841603,
  2643.6317749234804,
  2679.1669738789396,
  2621.1884913726603,
  2831.59427466159,
  2976.55382919258,
  3151.41947928207,
  3236.46891296281,
  3362.12437617636,
  3630.0442572637103,
  3574.2617936844204,
  3520.9428517765004,
  3645.18757584794,
  3769.5999917609997,
  3800.7318439126598,
  3853.98329006906,
  3924.58659671927,
  4017.55893851927,
  4079.0573491654795,
  4259.3568484198295,
  4275.293770702589,
  4308.05860467024,
  4385.96541298405,
  4430.00381720687,
  4362.29106795008,
  4395.55164161047,
  4313.65874241601,
  4238.29207301888,
  4135.16234149204,
  4143.6047986207595,
  4087.0157510929707,
  4076.3286740738204,
  4063.1748527895,
  4013.9749056051396,
  3986.5657857774395,
  3932.3503660127703,
  3893.4788393556,
  3841.45453824855,
  3810.82616888496,
  3763.23512460646,
  3678.8492013650603,
  3601.9665733365796,
  3498.0772865472304,
  3440.08275644672,
  3295.34620361425,
  3218.0716793202696,
  3147.2423891705103,
  3324.44,
  3333.78436997316,
  3311.87778385737,
  3256.87,
  3204.03195912926,
  3156.93562808775,
  3205.7097990787897,
  3232.2385003272802,
  3218.64598771922,
  3247.0,
  3290.96968658852,
  3349.3073867154,
  3309.9386216709495,
  3400.5774122032103,
  3518.68447592371,
  3636.79674232812,
  3877.15757870949,
  3914.7048515697797,
  4101.13824318864,
  4133.28310105586],
 'Moratalaz': [1672.70935515272,
  1716.38459337224,
  1742.0917790132098,
  1826.32219894785,
  1920.7710172242103,
  1990.9062783205102,
  2061.04153941682,
  2315.39875299276,
  2493.61300211099,
  2531.12661026042,
  2534.87754712936,
  2673.3765947752104,
  2746.6188086105603,
  2798.04658549047,
  2916.79008047653,
  2930.8478421343398,
  2930.4978912085,
  2994.37319729864,
  3044.67726388283,
  3108.0613657528,
  3242.8254450105296,
  3323.64570083521,
  3332.50175090763,
  3391.0740941292997,
  3353.3858626396004,
  3375.1195421291304,
  3327.12220048172,
  3233.78753808367,
  3224.76529928036,
  3142.01625663013,
  3019.4705906544,
  2891.64858648933,
  2834.8047198655604,
  2757.3558302012398,
  2717.00348004832,
  2690.9387533921,
  2636.74818630974,
  2617.4818391146696,
  2607.73424576719,
  2574.01567822329,
  2487.8301182558102,
  2450.80792738129,
  2388.22475980565,
  2297.48291892803,
  2248.0489057326104,
  2178.3968531817,
  2097.81247641418,
  2012.9392639824102,
  1943.45676133372,
  1940.19947212749,
  1999.36110789901,
  2037.6098239224302,
  2078.71648723924,
  1967.98,
  1928.6843085288897,
  1952.13604645142,
  1968.1946089357602,
  1911.95684573237,
  2003.67749720121,
  1927.0,
  1972.6670416985,
  1973.30718526133,
  2018.76047881379,
  2039.18627936605,
  2054.17853751446,
  2153.85109255222,
  2197.2263252268,
  2269.10001804591,
  2348.23283779778,
  2483.83546131933],
 'Puente De Vallecas': [1344.08002441389,
  1423.23612466915,
  1474.97085222168,
  1530.81896552874,
  1599.08395299581,
  1698.20845534526,
  1733.74365430072,
  1980.6197733597198,
  2047.53938073724,
  2197.89307725125,
  2298.76188367958,
  2430.17040393643,
  2492.36528158303,
  2531.86451355852,
  2625.46604645998,
  2617.89474225592,
  2662.5265691236605,
  2736.01021531286,
  2842.0414342475606,
  2980.51060590826,
  3018.80295955832,
  3092.1644904839,
  3109.35309780588,
  3138.16619810753,
  3138.1524540638,
  3088.7298245141997,
  3040.43026450903,
  3031.10223685581,
  2990.81988318195,
  2840.57196603283,
  2736.67549552857,
  2610.69241960289,
  2493.14824943955,
  2441.97805404821,
  2390.3680396690397,
  2355.14548072927,
  2292.93216896094,
  2236.69359440339,
  2215.66687109328,
  2154.8986499207604,
  2099.71814153705,
  2008.02651750203,
  1959.57370848031,
  1811.74454181538,
  1757.5976728164,
  1711.5758156198199,
  1622.2124712817401,
  1570.0055950370902,
  1538.29448421125,
  1493.08032922641,
  1627.0,
  1617.87227079199,
  1607.87802661547,
  1486.79,
  1456.0213383633402,
  1396.3058618174,
  1421.80431878879,
  1365.32050550732,
  1399.39752734573,
  1366.0,
  1377.7251762660098,
  1373.84731018699,
  1399.61488660539,
  1394.3180262198098,
  1408.95003745622,
  1482.92787812034,
  1518.40348790306,
  1582.98164238415,
  1695.1945215701098,
  1732.7153456916199],
 'Retiro': [2152.36137617549,
  2339.66300902886,
  2425.84446609462,
  2504.29638954548,
  2557.59918797868,
  2710.96162557594,
  2847.49160051008,
  3045.74060520898,
  3132.28572863646,
  3259.05195139375,
  3395.4548447172997,
  3597.98292114626,
  3741.4944426949605,
  3629.0203236094103,
  3722.02621776177,
  3823.94482781603,
  3855.87184914351,
  3924.45130543926,
  4011.9763763292,
  4061.4267733701704,
  4136.822988638401,
  4239.50385518623,
  4321.23414240604,
  4396.96101192635,
  4420.7883574925,
  4418.39023212464,
  4417.781544637921,
  4402.41579183466,
  4426.547612301861,
  4372.31851171046,
  4313.2953423075705,
  4211.709939341021,
  4192.2106072589895,
  4161.04901394364,
  4186.61419148289,
  4141.66915735791,
  4189.31740074526,
  4234.57953366748,
  4320.51940411382,
  4126.59025810267,
  4169.143587078061,
  4119.73120123248,
  4096.6901020020705,
  3956.5532459541996,
  3769.5713048556604,
  3661.3956042872996,
  3610.5477092573797,
  3460.47868170605,
  3404.7971279448902,
  3401.38550017895,
  3538.9425611721704,
  3322.04438910109,
  3374.21755657973,
  3388.85,
  3364.7666234527196,
  3273.7864728709,
  3419.5961060458003,
  3539.2005155761,
  3458.25765100514,
  3510.0,
  3488.82516984677,
  3648.2905389577295,
  3689.4938889376795,
  3733.7744767888503,
  3931.4238330313,
  4079.5737124053703,
  4137.620941793661,
  4353.43989592224,
  4764.488030006401,
  4875.669322096111],

## Fechas

En Python existen dos tipos de datos para tratar las fechas:

* `date` si son referencias sin hora
* `datetime` si incluyen la hora

Podemos crearlas de la siguiente forma

In [1]:
from datetime import date, datetime

fecha = date(2019, 1, 30)
fecha

datetime.date(2019, 1, 30)

In [2]:
fecha_hora = datetime(2019, 3, 30, 14, 35, 59)
fecha_hora

datetime.datetime(2019, 3, 30, 14, 35, 59)

Podemos convertir (o truncar si aplica) una fecha más hora a solo fecha con `.date()`

In [3]:
fecha_hora.date()

datetime.date(2019, 3, 30)

Tenemos dos funciones para pasar de cadena de texto a fecha y al revés:

* `datetime.strftime()`: de fecha a cadena de texto (la f es de format)
* `datetime.strptime()`: de cadena de texto a fecha (la p es de parse)

In [5]:
fecha.strftime('%Y-%m-%d')

'2019-01-30'

In [ ]:
fecha_hora.strftime('%Y-%m-%d %H:%M:%S')

Los símbolos que puedes usar los puedes consultar [aquí](http://strftime.org/)

#### Ejercicio

Formatea fecha_hora con formato 12 horas en lugar de 24 e indicando si es AM o PM

In [6]:
fecha_hora.strftime('%Y-%m-%d %I:%M:%S%p')

'2019-03-30 02:35:59PM'

#### Ejercicio

Parsea a fecha:

* `'20/05/2018'`
* `'2018-05-20'`

In [10]:
datetime.strptime('20/05/2018','%d/%m/%Y')

datetime.datetime(2018, 5, 20, 0, 0)

Podemos sumar o restar periodos (p.e. días) con `timedelta`

In [11]:
datetime.strptime('2018-05-20','%Y-%m-%d')

datetime.datetime(2018, 5, 20, 0, 0)

In [12]:
from datetime import timedelta

fecha + timedelta(days=5)

datetime.date(2019, 2, 4)

## Funciones

Durante el desarrollo de este curso, hemos definido varias funciones `lambda`. Son funciones pequeñas, típicamente _oneliners_, pensadas para hacer operaciones simples en una línea. Pero frecuentementese se hace necesario desarrollar transformaciones más complejas.

Comenzaremos viendo cómo definir funciones y, después, cómo añadirles expresiones de control de código.

### Definición de funciones

La definción de una función comienza con `def` y termina con `:`. El cuerpo de la función está indentado y la definción de la función termina ahí donde termina la indentación. De hecho, en Python los bloques de código no están definidos, como en otros lenguajes con `{}` o bloques `BEGIN...END` sino por la indentación (que es obligatoria).

In [13]:
def formatea_precio(precio, simbolo):
    precio_string = str(precio)
    return precio_string + simbolo

formatea_precio(2500, ' $')

'2500 $'

In [19]:
formatea_precio(precio=2500,simbolo='$')

'2500$'

Una función que devuelva un resultado necesita obligatoriamente terminar con una expresión `return`. Si se omite, devolverá `None`.

### Bucles

Los bucles son similares a los de muchos otros lenguajes. Como en la definición de las funciones, el bloque de código que sigue a la expresión `for` está indentado.

In [26]:
def formatea_precio(precio, simbolo):
    precio_string = str(precio)
    return precio_string + simbolo
precios= [1,2,3,4]
for precio in precios:
    print(formatea_precio(precio, '$'))

1$
2$
3$
4$

Las _list comprehensions_ evitan la necesidad de construir muchos bucles.

### Expresiones condicionales

Como en casi todos los lenguajes de programación, se pueden usar expresiones condicionales con la consabida estructura

```
if condicion:
    ...
```

o, alternativamente, 
```
if condicion:
    ...
elif:
    ...
else:
    ...
```

De nuevo, los bloques de código que siguen tanto a la expresión `for` como a `else` tienen que estar indentados.

#### Ejercicio

Construye una función que, dado un precio y un umbral, devuelva la cadena `caro` o `barato` según si el precio está por encima o por debajo del umbral. Crea entonces una columna adicional en `venta` usando como umbral la mediana del precio.

In [41]:
import pandas as pd
venta = pd.read_csv('dat/venta-madrid-distritos.csv', index_col=False)
venta = venta[venta.precio.notnull()]

# 1. Defino la función
def caro_o_barato(precio, umbral):
    if precio > umbral:
        return 'caro'
    else:
        return 'barato'
caro_o_barato(2400, 3000)
# 2. Guardo en una variable la mediana del precio
umbral_venta = venta.precio.median()
# 3. Creo la nueva columna sobre venta
venta['caro_barato'] = venta.apply(lambda fila: caro_o_barato(fila.precio, umbral_venta), axis=1)
venta.tail()

               distrito   ano  quarter       precio caro_barato
1465             Tetuán  2018        2  3557.922318        caro
1466              Usera  2018        2  1892.734745      barato
1467          Vicálvaro  2018        2  2219.022626      barato
1468  Villa De Vallecas  2018        2  2293.902446      barato
1469         Villaverde  2018        2  1578.197261      barato

In [46]:
# 1. Defino la función
venta = venta.drop(columns="caro_barato")
# 2. Extraigo la mediana por cada distrito 
venta.groupby('distrito').precio.median().reset_index()
medianas_distrito= venta.groupby('distrito').precio.median().reset_index()
medianas_distrito = medianas_distrito.rename(columns= {'precio':'precio_mediana'})
# 3. añado la columna con la mediana a mi df origen
cruce = venta.merge(medianas_distrito, on='distrito')
# Creo la nueva columna precio barato a mi df origen
cruce['caro_barato'] = cruce.apply(lambda fila: caro_o_barato(fila.precio, fila.precio_mediana), axis=1)
cruce.head()

     distrito   ano  quarter       precio  precio_mediana caro_barato
0  Arganzuela  2001        1  1920.406575     3204.209495      barato
1  Arganzuela  2001        2  1989.755278     3204.209495      barato
2  Arganzuela  2001        3  1974.715394     3204.209495      barato
3  Arganzuela  2001        4  2027.376614     3204.209495      barato
4  Arganzuela  2002        1  2150.814674     3204.209495      barato

#### Ejercicio

Usa la función del ejercicio anterior, bucles, etc. para crear una columna adicional en `alquileres` que indique si el precio de un piso es caro o barato según supere o no la mediana de precios de su distrito.

## El groupby más genérico

Los ejemplos de agrupaciones que vimos en el notebook de pandas están pensados para los casos más típicos: sacar algunas estadísticas como medias, máximos, ... de una o varias columnas.

Pero habitualmente necesitamos funciones más flexibles, que implican aplicar funciones propias a cada uno de los grupos. Para hacer esto, podemos utilizar `apply` y devolver una `Series`.

Aunque, no debemos abusar de ellos. Si hay una alternativa a nuestro `apply` + función propia como las de arriba (`mean`, `max`, ...), serán mucho más eficientes (más rápidas!).

Por ejemplo, vamos a devolver la diferencia relativa de precio entre el primer y último dato de cada distrito.

In [ ]:
def calcula_diferencia_relativa_precio(grupo):
    # Ordenamos cronológicamente
    grupo = grupo.sort_values(['ano', 'quarter'])
    
    # Cogemos el primero (dato más antiguo) y el último (más reciente)
    precio_mas_antiguo = grupo.precio.iloc[0]
    precio_mas_reciente = grupo.precio.iloc[-1]

    # Queremos el incremento relativo
    diferencia = (precio_mas_reciente - precio_mas_antiguo) / precio_mas_antiguo

    # Lo devolvemos como pd.Series
    return pd.Series({'incremento_precio_relativo': diferencia})

alquiler.groupby('distrito').apply(calcula_diferencia_relativa_precio).reset_index()

Con estas funciones personalizadas, también podemos devolver varias filas por cada grupo.

Por ejemplo, vamos a devolver dos filas por grupo. Queremos saber, para cada distrito, cuándo y con qué valor se alcanzan los máximos y mínimos de precios.

In [49]:
def get_rent_min_max(grupo):
    # Ordenamos por precio
    grupo = grupo.sort_values('precio')
    
    # Cogemos el primero (mínimo) y el último (máximo)
    minimo = grupo.iloc[0]
    maximo = grupo.iloc[-1]

    # Devolvemos estas filas nuevas
    nuevo_dataframe = pd.DataFrame({
        'tipo': ['minimo', 'maximo'],
        'ano': [minimo.ano, maximo.ano],
        'quarter': [minimo.quarter, maximo.quarter],
        'precio': [minimo.precio, maximo.precio],
    })

    return nuevo_dataframe

resultado = alquiler.groupby('distrito').apply(get_rent_min_max).reset_index()

# al hacer esto, sale una columna "fea" resultado de incluir un dataframe dentro de otro
# podemos eliminarla con drop
resultado.drop(columns=["level_1"])

              distrito    tipo   ano  quarter     precio
0           Arganzuela  minimo  2014        2  10.680000
1           Arganzuela  maximo  2018        1  14.851932
2              Barajas  minimo  2014        4   9.488644
3              Barajas  maximo  2018        1  12.748770
4          Carabanchel  minimo  2014        3   8.161351
5          Carabanchel  maximo  2007        4  12.160093
6               Centro  minimo  2013        4  13.382205
7               Centro  maximo  2018        1  19.308607
8            Chamartín  minimo  2013        2  12.062166
9            Chamartín  maximo  2018        2  16.606506
10            Chamberí  minimo  2013        3  12.960000
11            Chamberí  maximo  2018        2  17.749769
12       Ciudad Lineal  minimo  2014        3  10.046880
13       Ciudad Lineal  maximo  2008        2  13.294499
14          Fuencarral  minimo  2014        3   9.800882
15          Fuencarral  maximo  2018        2  12.120647
16           Hortaleza  minimo  2014        4  10.319664
17           Hortaleza  maximo  2018        2  13.429745
18              Latina  minimo  2013        4   8.454916
19              Latina  maximo  2008        2  11.909451
20             Moncloa  minimo  2013        4  11.360389
21             Moncloa  maximo  2018        2  15.189176
22           Moratalaz  minimo  2013        4   8.330494
23           Moratalaz  maximo  2008        2  11.925685
24  Puente De Vallecas  minimo  2014        4   8.066116
25  Puente De Vallecas  maximo  2008        2  12.418160
26              Retiro  minimo  2013        3  11.350000
27              Retiro  maximo  2017        4  15.918052
28           Salamanca  minimo  2013        4  13.293066
29           Salamanca  maximo  2018        2  19.089243
30            San Blas  minimo  2014        3   9.169139
31            San Blas  maximo  2008        2  12.987816
32              Tetuan  minimo  2013        2  10.559129
33              Tetuan  maximo  2017        4  15.332326
34               Usera  minimo  2014        3   8.397848
35               Usera  maximo  2008        2  12.418846
36           Vicálvaro  minimo  2014        3   7.910698
37           Vicálvaro  maximo  2008        2  10.850731
38   Villa De Vallecas  minimo  2014        3   8.508580
39   Villa De Vallecas  maximo  2007        4  11.282086
40          Villaverde  minimo  2014        3   7.591541
41          Villaverde  maximo  2008        2  11.234841